In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
data = pd.read_csv('Wine_Price_Data.csv')
data.describe()

,Vintage,Red,White,Rosé,Orange,Sparkling,Winery?,Vineyard?,Oaked?,AVA,Price/750mL,Rating,ABV %
count,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000
mean,2020.013699,0.561644,0.397260,0.059361,0.004566,0.036530,0.904110,0.506849,0.680365,0.808219,27.876393,87.917808,13.619178
std,1.444634,0.497322,0.490452,0.236840,0.067574,0.188034,0.295115,0.501098,0.467403,0.394604,29.888677,3.057942,1.287768
min,2014.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.990000,72.000000,6.800000
25%,2019.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,12.990000,86.000000,13.000000
50%,2021.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,18.990000,88.000000,13.800000
75%,2021.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,33.495000,90.000000,14.500000
max,2022.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,260.990000,96.000000,16.000000

# Cleaning Data

In [3]:
# add log price, dropping producer, making everything uppercase
data['Log_Price'] = np.log(data['Price/750mL'])
data = data.drop(['Producer', 'Price/750mL'], axis=1) 
for col in ["Variety/Vine", "State"]:
    data[col] = data[col].str.upper()
    data[col] = data[col].str.strip()
    print(data[col].value_counts())

CABERNET SAUVIGNON                                       36
PINOT NOIR                                               35
CHARDONNAY                                               35
BLEND                                                    28
MERLOT                                                   11
SAUVIGNON BLANC                                          10
PINOT GRIGIO                                              7
PINOT GRIS                                                7
RIESLING                                                  6
RED BLEND                                                 5
ZINFANDEL                                                 5
ROSÉ                                                      4
CABARNET SAUVIGNON                                        3
PETITE SIRAH                                              3
GRENACHE                                                  2
SYRAH                                                     2
MOSCATO                                                   2
PINK MOSCATO                                              1
PINO GRIS                                                 1
CARIGNAN                                                  1
FUME BLANC                                                1
SCUPPERNONG                                               1
ORANGE SAUVIGNON BLANC                                    1
CHERRY MOSCATO                                            1
MUSCADINE                                                 1
VIOGNEIR                                                  1
JOVINO PINOT NOIR                                         1
BLEND: SYRAH, GRENACHE, MOURVEDRE, CABERNET SAUVIGNON     1
ROSE                                                      1
CHARDONNNAY                                               1
NIAGARA                                                   1
GREEN APPLE WINE                                          1
ZINFANDEL BLANC NOIR                                      1
BUTTERY CHARDONNAY                                        1
CHAMPAGNE EXTRA DRY                                       1
Name: Variety/Vine, dtype: int64
CALIFORNIA        158
OREGON             26
WASHINGTON         15
NORTH CAROLINA      7
NC                  4
NEW YORK            4
WASHINGOTN          2
INDIANA             1
NEVADA              1
WEST VIRGINIA       1
Name: State, dtype: int64

In [4]:
# Cleaning Data, must need at least 3 entries or else it will be classified as other

data["State"] = data["State"].str.replace("NC", "NORTH CAROLINA")

for col in ["Variety/Vine"]:
    data[col] = data[col].str.replace("CHARDONNNAY", "CHARDONNAY")
    data[col] = data[col].str.replace("BUTTERY CHARDONNAY", "CHARDONNAY")
    data[col] = data[col].str.replace("ROSE", "ROSÉ")
    data[col] = data[col].str.replace("FUME BLANC", "SAUVIGNON BLANC")
    data[col] = data[col].str.replace("ORANGE SAUVIGNON BLANC", "SAUVIGNON BLANC")
    data[col] = data[col].str.replace("CABARNET SAUVIGNON", "CABERNET SAUVIGNON")
    data[col] = data[col].str.replace("ZINFANDEL BLANC NOIR", "ZINFANDEL")
    data[col] = data[col].str.replace("PINOT NOIR BLANC", "PINOT NOIR")
    data[col] = data[col].str.replace("JOVINO PINOT NOIR", "PINOT NOIR")
    data[col] = data[col].str.replace("PINO GRIS", "PINOT GRIS")
    for blend in ["CHERRY MOSCATO","RED BLEND", "PINK MOSCATO", "CHAMPAGNE EXTRA DRY", "BLEND: SYRAH, GRENACHE, MOURVEDRE, CABERNET SAUVIGNON"]:
        data[col] = data[col].str.replace(blend, "BLEND")
    unique_entries = data[col].value_counts()
    
print(data["State"].value_counts())
print(data["Variety/Vine"].value_counts())

CALIFORNIA        158
OREGON             26
WASHINGTON         15
NORTH CAROLINA     11
NEW YORK            4
WASHINGOTN          2
INDIANA             1
NEVADA              1
WEST VIRGINIA       1
Name: State, dtype: int64
CABERNET SAUVIGNON    39
BLEND                 37
CHARDONNAY            37
PINOT NOIR            36
SAUVIGNON BLANC       12
MERLOT                11
PINOT GRIS             8
PINOT GRIGIO           7
RIESLING               6
ZINFANDEL              6
ROSÉ                   5
PETITE SIRAH           3
MOSCATO                2
SYRAH                  2
GRENACHE               2
GREEN APPLE WINE       1
NIAGARA                1
MUSCADINE              1
VIOGNEIR               1
SCUPPERNONG            1
CARIGNAN               1
Name: Variety/Vine, dtype: int64

In [5]:
# add other for states and variety/vine with less than 3 entries

for col in ["Variety/Vine", "State"]:
    print(f"Break Down of Other for {col}")
    unique_entries = data[col].value_counts()
    print(unique_entries[unique_entries < 3])
    data[col] = data[col].apply(lambda x: x if x in unique_entries[unique_entries >= 3].index else "OTHER")
    print(data[col].value_counts())

Break Down of Other for Variety/Vine
MOSCATO             2
SYRAH               2
GRENACHE            2
GREEN APPLE WINE    1
NIAGARA             1
MUSCADINE           1
VIOGNEIR            1
SCUPPERNONG         1
CARIGNAN            1
Name: Variety/Vine, dtype: int64
CABERNET SAUVIGNON    39
BLEND                 37
CHARDONNAY            37
PINOT NOIR            36
OTHER                 12
SAUVIGNON BLANC       12
MERLOT                11
PINOT GRIS             8
PINOT GRIGIO           7
ZINFANDEL              6
RIESLING               6
ROSÉ                   5
PETITE SIRAH           3
Name: Variety/Vine, dtype: int64
Break Down of Other for State
WASHINGOTN       2
INDIANA          1
NEVADA           1
WEST VIRGINIA    1
Name: State, dtype: int64
CALIFORNIA        158
OREGON             26
WASHINGTON         15
NORTH CAROLINA     11
OTHER               5
NEW YORK            4
Name: State, dtype: int64

In [6]:
# One Hot Encoding

data = pd.get_dummies(data, columns=["Variety/Vine", "State"], drop_first=True)
data.head()

,Vintage,Red,White,Rosé,Orange,Sparkling,Winery?,Vineyard?,Oaked?,AVA,...,Variety/Vine_PINOT NOIR,Variety/Vine_RIESLING,Variety/Vine_ROSÉ,Variety/Vine_SAUVIGNON BLANC,Variety/Vine_ZINFANDEL,State_NEW YORK,State_NORTH CAROLINA,State_OREGON,State_OTHER,State_WASHINGTON
0,2018,0,0,1,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,2021,1,0,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
2,2021,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,2022,1,0,0,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,2019,1,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

# Cleaned Up Data Summary and Analysis

In [7]:
data.describe()

,Vintage,Red,White,Rosé,Orange,Sparkling,Winery?,Vineyard?,Oaked?,AVA,...,Variety/Vine_PINOT NOIR,Variety/Vine_RIESLING,Variety/Vine_ROSÉ,Variety/Vine_SAUVIGNON BLANC,Variety/Vine_ZINFANDEL,State_NEW YORK,State_NORTH CAROLINA,State_OREGON,State_OTHER,State_WASHINGTON
count,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,...,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000
mean,2020.013699,0.561644,0.397260,0.059361,0.004566,0.036530,0.904110,0.506849,0.680365,0.808219,...,0.164384,0.027397,0.022831,0.054795,0.027397,0.018265,0.050228,0.118721,0.022831,0.068493
std,1.444634,0.497322,0.490452,0.236840,0.067574,0.188034,0.295115,0.501098,0.467403,0.394604,...,0.371472,0.163612,0.149707,0.228100,0.163612,0.134214,0.218916,0.324202,0.149707,0.253169
min,2014.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2019.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2021.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2021.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2022.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# print all the data
data.to_csv('Wine_Price_Data_Cleaned.csv', index=False)

# Data Analysis

In [9]:
cleaned_data = pd.read_csv('Wine_Price_Data_Cleaned.csv')
sm.add_constant(cleaned_data)
Y = cleaned_data["Log_Price"]
X = data.drop(['Log_Price'], axis=1)

In [10]:
model = sm.OLS(Y, X).fit()
predictions = model.predict(X)
print(model.summary())
print(model.params)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:              Log_Price   R-squared (uncentered):                   0.979
Model:                            OLS   Adj. R-squared (uncentered):              0.976
Method:                 Least Squares   F-statistic:                              307.3
Date:                Mon, 29 May 2023   Prob (F-statistic):                   1.01e-143
Time:                        01:14:32   Log-Likelihood:                         -136.36
No. Observations:                 219   AIC:                                      330.7
Df Residuals:                     190   BIC:                                      429.0
Df Model:                          29
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Vintage                            -0.0038      0.001     -6.566      0.000      -0.005      -0.003
Red                                -0.6659      0.351     -1.897      0.059      -1.359       0.027
White                              -0.5576      0.393     -1.417      0.158      -1.334       0.218
Rosé                               -0.3757      0.414     -0.908      0.365      -1.192       0.441
Orange                              0.4643      0.534      0.869      0.386      -0.589       1.518
Sparkling                           0.6185      0.293      2.112      0.036       0.041       1.196
Winery?                            -0.0673      0.118     -0.568      0.571      -0.301       0.166
Vineyard?                           0.1390      0.074      1.877      0.062      -0.007       0.285
Oaked?                              0.1150      0.084      1.375      0.171      -0.050       0.280
AVA                                 0.1256      0.103      1.225      0.222      -0.077       0.328
Rating                              0.1016      0.012      8.397      0.000       0.078       0.125
ABV %                               0.1692      0.040      4.271      0.000       0.091       0.247
Variety/Vine_CABERNET SAUVIGNON     0.1270      0.130      0.977      0.330      -0.130       0.384
Variety/Vine_CHARDONNAY            -0.3917      0.225     -1.743      0.083      -0.835       0.052
Variety/Vine_MERLOT                 0.0490      0.179      0.274      0.785      -0.304       0.402
Variety/Vine_OTHER                 -0.0567      0.194     -0.292      0.771      -0.440       0.327
Variety/Vine_PETITE SIRAH           0.2166      0.309      0.702      0.484      -0.392       0.825
Variety/Vine_PINOT GRIGIO          -0.3665      0.277     -1.322      0.188      -0.914       0.181
Variety/Vine_PINOT GRIS            -0.4763      0.274     -1.739      0.084      -1.017       0.064
Variety/Vine_PINOT NOIR            -0.0863      0.148     -0.583      0.560      -0.378       0.205
Variety/Vine_RIESLING              -0.1559      0.292     -0.534      0.594      -0.732       0.420
Variety/Vine_ROSÉ                   0.0873      0.295      0.296      0.768      -0.495       0.670
Variety/Vine_SAUVIGNON BLANC       -0.3496      0.258     -1.356      0.177      -0.858       0.159
Variety/Vine_ZINFANDEL             -0.1626      0.226     -0.718      0.474      -0.609       0.284
State_NEW YORK                      0.0919      0.265      0.347      0.729      -0.430       0.614
State_NORTH CAROLINA                0.1344      0.178      0.757      0.450      -0.216       0.485
State_OREGON                        0.1659      0.127      1.306      0.193      -0.085       0.416
State_OTHER                        -0.2069      0.245     -0.845      0.399      -0.690       0.276
State_WASHINGTON                   -0.3165      0.138     -2.297      0.023      -0.588      -0.045
==============================================================================
Omnibus:                        8.534   Durbin-Watson:                   1.888
Prob(Omnibus):                  0.014   Jarque-Bera (JB):               11.800
Skew:                           0.257   Prob(JB):                      0.00274
Kurtosis:                       4.015   Cond. No.                     4.11e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 4.11e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
Vintage                           -0.003801
Red                               -0.665934
White                             -0.557598
Rosé                              -0.375663
Orange                             0.464294
Sparkling                          0.618506
Winery?                           -0.067326
Vineyard?                          0.139031
Oaked?                             0.114989
AVA                                0.125604
Rating                             0.101563
ABV %                              0.169226
Variety/Vine_CABERNET SAUVIGNON    0.127030
Variety/Vine_CHARDONNAY           -0.391707
Variety/Vine_MERLOT                0.048971
Variety/Vine_OTHER                -0.056746
Variety/Vine_PETITE SIRAH          0.216581
Variety/Vine_PINOT GRIGIO         -0.366495
Variety/Vine_PINOT GRIS           -0.476321
Variety/Vine_PINOT NOIR           -0.086289
Variety/Vine_RIESLING             -0.155928
Variety/Vine_ROSÉ                  0.087273
Variety/Vine_SAUVIGNON BLANC      -0.349623
Variety/Vine_ZINFANDEL            -0.162610
State_NEW YORK                     0.091859
State_NORTH CAROLINA               0.134424
State_OREGON                       0.165863
State_OTHER                       -0.206922
State_WASHINGTON                  -0.316457
dtype: float64

makes since that vintage is negative since higher the vintage (younger the wine) price deacreases by .38% and it was find that in the stuyd 4.8% decrease, which is off.

# interperting data, blend is dropped and Califronia is dropped

in study saugvginon blac was dropped, maybe should drop that indeatad of blend